* {
    padding: 0;
    margin: 0;
    outline: red;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    border: 2px solid black;
    border-radius: 15px;
}

.game {
    width: 70vw;
    height: 40vh;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10vh;
}

.character {
    width: 50px;
    height: 100px;
    background-color: greenyellow;
    position: relative;
    top: 30.7vh;
    left: 1.5vw;
}

