@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans-font {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

    /* margin and padding of overall page */
* {
    padding: 0;
    margin: 0;
}
    /* positioning for the canvas container */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fcdeb4;
}

    /* game container */
canvas {
    border: 2px solid #fc947c;
    border-radius: 15px;
}

